/* Estilo de la caja usada para el modal*/
/*  Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    /* padding-top: 100px; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.63);
}

/* Modal Contenido (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 500px;
}

.ContentModalAbierto {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    margin-top: 4rem;
}

.Cartel__box {
    display: block;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-size: .8rem;
}

.Cartel__top {
    background: #252424;
    display: block;
    background-image: url('../../../images/assets/bg-popup @2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.6rem 2rem 0 2rem;
}

.Cartel__top--logos {
    display: block;
    text-align: center;
}

.Cartel__top--logos__wuf {
    display: inline-block;
    width: 55px;
    vertical-align: middle;
}

.Cartel__top--logos__wuf img {
    max-width: 100%;
}

.Cartel__top--logos__entel {
    display: inline-block;
    padding-left: 1rem;
    width: 85px;
    vertical-align: middle;
}

.Cartel__top--logos__entel img {
    max-width: 100%;
}

.Cartel__top--maps {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-bottom: 1px solid #ff6329;
    max-width: 367px;
}

.Cartel__top--letf {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}

.Cartel__top--letf img {
    max-width: 100%;
}

.Cartel__top--right {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1rem;
    padding-top: 2rem;
    width: 45%;
}

.Cartel__top--right img {
    max-width: 100%;
}

.Cartel__top--right__hogar {
    display: block;
    padding-bottom: 2.5rem;
    font-size: .6rem;
}

.Cartel__top--right__hogar--cover {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
}

.Cartel__top--right__hogar--cover img {
    max-width: 100%;
}

.Cartel__top--right__hogar--text {
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
}

/* Letters  */
.Cartel__top--letters {
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    /*font-size: 9px;*/
}

.Cartel__top--letters-1 {
    padding-bottom: .5rem;
    font-weight: bold;
}

.Cartel__top--letters-2 {
    font-weight: 100;
    padding-bottom: .5rem;
}

.Cartel__top--letters-3 {
    font-size: 1.7rem;
    padding-bottom: .2rem;
    font-weight: bold;
}

.Cartel__top--letters-4 {
    font-weight: 100;
    padding-bottom: .5rem;
}

.Cartel__top--letters-5 {
    font-size: 1.3rem;
    font-weight: bold;
}

.Cartel__top--letters__textAdopta {
    color: #ff6329;
}

.Cartel__bottom {
    background: #e5e5e5;
    display: block;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

.Cartel__uri {
    background: #ff6329;
    max-width: 220px;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 1rem;
    /* margin-top: 1rem; */
    border-radius: 10px;
    font-size: .9rem;
    cursor: pointer;
}


/* Cartel Desktop */
.Cartel__topDesktop {
    display: none;
    background: #252424;
    background-image: url('../../../images/assets/bg-popup @2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 0;
}

.Cartel__topDesktop--box {
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

.Cartel__topDesktop--left {
    display: inline-block;
    width: 36%;
    vertical-align: middle;
}

.Cartel__topDesktop--left img {
    max-width: 100%;
}

.Cartel__topDesktop--right {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

/* Texto del Modal (Image Text) */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Animacion de zoom en el modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.Content-TermsConditions {
    background: white;
    padding: 3rem;
    margin: 5rem;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* Boton de cerrar */
.close {
    position: absolute;
    top: 5px;
    right: 37px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: 100;
    transition: 0.3s;
    background: #ff6329;
    width: 70px;
    height: 28px;
    font-size: 1rem;
    text-align: center;
    line-height: 25px;
}

.close::after {
    content: 'X';
    background: #ff6329;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    left: 61px;
    position: absolute;
    top: -7px;
    line-height: 38px;
    font-weight: bold;
    font-size: 1.5rem;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width pantalla */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .Cartel__top {
        display: none;
    }
    .Cartel__topDesktop {
        display: block;
    }
    .ContentModalAbierto {
        max-width: 600px;
    }
    
    /* Block right */
    .Cartel__topDesktop--right {
        padding-left: 2rem;
    }

    /* Logos */
    .Cartel__top--logos {
        text-align: left;
    }

    /* Dog Icons */
    .Cartel__top--right {
        width: 77%;
        border-bottom: 1px solid #ff6329;
        padding-bottom: 1rem;
        text-align: left;
        display: block;
    }

    .Cartel__top--right__hogar {
       display: inline-block;
       padding-bottom: 0;
       padding-right: 1rem;
    }

    .Cartel__top--letters {
        font-size: 10px;
        text-align: left;
    }

    .Cartel__top--letters-1 {
        font-weight: bold;
        font-size: .7rem;
    }
    
    .Cartel__top--letters-2 {
        font-size: .6rem;
    }

    .Cartel__top--letters-3 {
        font-size: 1.8rem;
        color: #ff6329;
        font-weight: bold;
    }

    .Cartel__top--letters-4 {
        font-size: .6rem;
    }

    .Cartel__top--letters-5 {
        font-size: 1.3rem;
        font-weight: bold;
    }
}