* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-family: sans-serif;
    color: black;
}

.HeaderMain {
    background-image: url('../../images/assets/bg-rd@2x.png');
    background-color: #cff5fe;
    background-repeat: no-repeat;
    /*height: 560px;*/
    height: 620px;
    background-size: cover;
    /*background-position-y: -130px;*/
    background-position-y: -86px;
}

.HeaderMain__box { 
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.HeaderMain__logo {
    margin: 0 auto;
    text-align: center;
    max-height: 500px;
}

/*.HeaderMain__logo--img {
    width: 500px;
}*/

.HeaderMain__logo--img img {
    max-width: 200px;
}

.HeaderMain__logo--text {
    color: #c15c36;
    /*padding-top: 1rem;*/
    padding-bottom: 1rem;
}

.HeaderMain__logo--text p {
    font-weight: 100;
}

.HeaderMain__logo--btn {
    padding-top: 16rem;
    padding-bottom: 1rem;
}

.HeaderMain__logo--btn a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: #ff6329;
    width: 30px;
    padding: .5rem 2rem;
    cursor: pointer;
    margin: 1rem auto;
    text-align: center;
    border-radius: 5px;
    border-bottom: 2px solid #c1604e;
    border-right: 2px solid #c1604e;
    letter-spacing: 1px;

}

@media (min-width: 470px) {
    .HeaderMain {
        background-position-y: -231px;
    }
}

@media (min-width: 570px) {
    .HeaderMain {
        background-position-y: -437px;
    }
}

@media (min-width: 700px) {
    .HeaderMain {
        height: 421px;
        background-image: url('../../images/assets/banner_desktop.png');
        background-position-y: 0px;
        overflow: hidden;
    }
    
    .HeaderMain__box { 
        overflow: hidden;
        padding-left: 15rem;
    }

    .HeaderMain__logo {
        float: left;
        padding-top: 1.2rem;
    }

    .HeaderMain__logo--btn {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .HeaderMain__logo--btn a {
        font-size: 1.2rem;
    }

}