.FooterMain {
	background: #80351B;
	color: white;
	text-align: center;
}

.FooterMain__box {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.FooterMain__logo {
	width: 60px;
	display: block;
	margin: 0 auto;
}

.FooterMain__logo img {
	max-width: 100%;
}

.FooterMain__text {
	display: block;
	margin: 0 auto;
	font-size: .7rem;
}

/*.FooterMain__text p {

}*/